<div class="container">
    <h1>Contacto</h1>
    
    <div id="texto" #textos >
        <p appResaltado>Esta es la pagina de contacto, puedes escribirnos alguna duda.</p>
    </div>

    <!-- Tamaño del slider:
    <input type="number" [(ngModel)]="widthSlider" (keyup.enter)="cargarSlider()" />
    <button (click)="cargarSlider()">Cargar Slider</button>
    <button (click)="resetearSlider()">Resetear Slider</button>

    <div *ngIf="anchuraToSlider">
        <app-slider [anchura]="anchuraToSlider" [captions]="captions" (conseguirAutor)="getAutor($event)"></app-slider>
    </div>
    <div *ngIf="autor">
        {{autor.nombre}} - {{autor.edad}} - {{autor.profesion}}
    </div> -->
</div>