<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis sunt earum corrupti,
        hic vel laboriosam expedita debitis similique eum repellendus? Aperiam, voluptatum atque
        illo enim eveniet voluptate, eaque reiciendis quod dicta odio, debitis quaerat repellendus.
        Libero harum mollitia eaque nesciunt animi, architecto cumque molestias repellat explicabo?
        Dolores a, sunt veniam corporis rerum, perferendis explicabo assumenda hic alias ipsam enim
        exercitationem nemo error, quia amet dolorem soluta dolor blanditiis iure unde aperiam
        aspernatur. Veniam iste tempore, eius, corporis eaque dicta corrupti distinctio dolores
        cumque unde, rem ad debitis doloremque repellat consequatur.
    </p>
</article>